@model DCISM_WBRMSystem.Models.Account
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>DCISM-WBRMSystem</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Favicon icon -->
    <link rel="icon" href="~/Content/assets/images/barcode_icon1.gif" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="~/Content/assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/Content/assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrapcdn.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            /*background-image:url('/Content/assets/images/usc-back.jpg');
            background-size:cover;*/
            background-color: #f4f7fa;
        }

        .card {
            background: #f4f7fa;
            opacity: .75;
        }

        #Login_Button {
            background: #0e3c00;
            border-color: #0e3c00;
        }

        #Forgot_Password {
            color: #0e3c00;
        }

        #user_input_username:focus {
            border: .5px solid #0e3c00;
        }

        #user_input_pass:focus {
            border: .5px solid #0e3c00;
        }
        .form-control-feedback1 {
            position: absolute;
            top: 0;
            /* right: 0; */
            z-index: 2;
            display: block;
            width: 34px;
            height: 34px;
            line-height: 34px;
            text-align: center;
            pointer-events: none;
}
    </style>
</head>

<body>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Login</h3>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "login-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", @autofocus = "", @required = "true", id = "user_input_username" })
                            @*<span class="glyphicon glyphicon-user form-control-feedback1"></span>*@
                        </div>
                        @*<div class="input-group mb-3">
                            <input type="text" class="form-control" name="user_input_username" placeholder="Username" id="user_input_username">
                        </div>*@
                        <div class="input-group mb-4">
                           @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", @autofocus = "", @required = "true", id = "user_input_pass" })
                            @*<span class="glyphicon glyphicon-lock form-control-feedback1"></span>*@
                        </div>
                        @*<div class="input-group mb-4">
                            <input type="password" class="form-control" name="user_input_pass" placeholder="password" id="user_input_pass">
                        </div>*@
                        @*<div class="form-group text-left">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                <label for="checkbox-fill-a1" class="cr"> Save Details</label>
                            </div>
                        </div>*@
                        <button type="submit" class="btn btn-primary shadow-2 mb-4" id="Login_Button">Login</button>
                        @*<p class="mb-2 text-muted">Forgot password? <a href="#"><font color="#0e3c00">Reset</font></a></p>*@
                        <p class="mb-0 text-muted">Don’t have an account? <a href="@Url.Action("SignUp","Account")"><font color="#0e3c00">Signup</font></a></p>
                    }

                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
    <script src="~/Content/assets/js/vendor-all.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

