
@model DCISM_WBRMSystem.Models.User_Details_vw
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-6 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        <img class="img-fluid rounded-circle" style="width:70px;" src="~/Content/assets/images/user/avatar-2.jpg" alt="dashboard-user">
                    </div>
                    <div class="col">
                        <h5>@Model.First_Name @Model.Last_Name</h5>
                        <span>@Model.Role_Name</span>
                    </div>
                </div>
                <ul class="task-list">
                    <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>@Model.ID_Number</h6>
                        <p class="text-muted">ID Number</p>
                    </li>
                    <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>@Model.Username <span class="float-right text-muted"><i class="fa fa-edit" id="userP-edit-username"></i></span></h6>
                        <p class="text-muted">Username</p>
                    </li>

                    <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>@Model.Email_Add <span class="float-right text-muted"><i class="fa fa-edit" id="userP-edit-email"></i></span></h6>
                        <p class="text-muted">Email Address</p>
                    </li>
                    <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>@Model.Contact_No<span class="float-right text-muted"><i class="fa fa-edit" id="userP-edit-contact-no"></i></span></h6>
                        <p class="text-muted">Contact No.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center justify-content-center">
                    <div class="col">
                        <h5>More Details</h5>
                    </div>
                </div>
                <ul class="task-list">
                    <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6>@Model.RF</h6>
                        <p class="text-muted">RF Number</p>
                    </li>


                    <li>
                        <i class="task-icon bg-c-green"></i>
                        <h6><input type="password" disabled value="@Model.Password" /> <span class="float-right text-muted"><i class="fa fa-edit" id="userP-edit-password"></i></span></h6>
                        <p class="text-muted">Password</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Change PASSWORD Modal-->
<div class="modal fade modal-change-password-Form" tabindex="-1" role="dialog" aria-labelledby="modal-Request-FormLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" class="form-control" placeholder="Old Password" id="oldPassword" />
                    </div>
                    <div class="col-md-12 pt-2">
                        <input type="password" class="form-control" placeholder="New Password" id="newPassword" />
                    </div>
                    <div class="col-md-12 pt-2">
                        <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal" id="cancel-change">Cancel</button>
                <button type="button" class="btn btn-rounded btn-success" id="submit-change-password" data-idnumber="@Model.ID_Number">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Change EMAIL Modal-->
<div class="modal fade modal-change-email-Form" tabindex="-1" role="dialog" aria-labelledby="modal-Request-FormLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center">Change Email</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="New Email" id="newEmail" />
                    </div>
                    <div class="col-md-12 pt-2">
                        <label>To make sure its you.</label>
                        <input type="password" class="form-control" placeholder="Your Password here." id="myPassword" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-rounded btn-success" id="submit-change-email" data-idnumber="@Model.ID_Number">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Change Number Modal-->
<div class="modal fade modal-change-number-Form" tabindex="-1" role="dialog" aria-labelledby="modal-Request-FormLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center">Change Number</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="tel" class="form-control mob_no" placeholder="New Contact Number" id="newNumber" />
                    </div>
                    <div class="col-md-12 pt-2">
                        <label>To make sure its you.</label>
                        <input type="password" class="form-control" placeholder="Your Password here." id="myPass" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-rounded btn-success" id="submit-change-number" data-idnumber="@Model.ID_Number">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Change Username Modal-->
<div class="modal fade modal-change-username-Form" tabindex="-1" role="dialog" aria-labelledby="modal-Request-FormLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center">Change Username</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="New Username" id="newUsername" />
                    </div>
                    <div class="col-md-12 pt-2">
                        <label>To make sure its you.</label>
                        <input type="password" class="form-control" placeholder="Your Password here." id="myPassU" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-rounded btn-success" id="submit-change-username" data-idnumber="@Model.ID_Number">Submit</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/inputmask/autoNumeric.js"></script>
    <script src="~/Content/inputmask/input-mask.min.js"></script>
    <script src="~/Content/inputmask/jquery.input-mask.min.js"></script>
    <script src="~/Content/assets/js/pages/form-masking.js"></script>
    <script>
        $('#userP-edit-username').click(function () {
            $('.modal-change-username-Form').modal('show');
        });
        $('#submit-change-username').click(function () {
            let idNumber = $(this).data('idnumber');
            let myPass = $('#myPassU').val();
            let newUsername = $('#newUsername').val();

            let errors = [];

            if (newUsername == "" || !newUsername) {
                errors.push('New Username is required.');
            } else {
                if (newUsername.length < 3) {
                    errors.push('New Username must atleast length of 3');
                }
            }
            if (myPass == "" || !myPass) {
                errors.push('Your Password is required.');
            }
            if (errors.length == 0) {
                var data = {
                    'idnum': idNumber,
                    'myP': myPass,
                    'newUsername': newUsername
                };
                $.ajax({
                    type: "POST",
                    url: "/User/changeUsername",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            SuccessMessage("Your Username Successfully changed. You can use it in your next login.");
                            setTimeout(function () {
                                location.reload();
                            }, 1200);
                        } else {
                            ErrorMessage(response.Message);
                        }
                    },
                    failure: function (response) {
                        ErrorMessage(response.responseText);
                    },
                    error: function (response) {
                        ErrorMessage(response.responseText);
                    }
                });
            } else {
                ErrorMessage(errors[0]);
            }
        });

        $('#userP-edit-contact-no').click(function () {
            $('.modal-change-number-Form').modal('show');
        });
        $('#submit-change-number').click(function () {
            let idNumber = $(this).data('idnumber');
            let myPass = $('#myPass').val();
            let newNumber = $('#newNumber').val();

            let errors = [];

            if (!newNumber || newNumber == null || newNumber == "") { errors.push("New Number is required."); } else {
                var number = newNumber.replace(/\D/g, '').toString();
                if (number.length == 11) {
                    if (!number.startsWith("09")) {
                        errors.push("Invalid mobile no.");
                    }
                    newNumber = number;
                } else {
                    errors.push("Invalid mobile no.");
                }
            }
            if (myPass == "" || !myPass) {
                errors.push('Your Password is required.');
            }
            if (errors.length == 0) {
                var data = {
                    'idnum': idNumber,
                    'myP': myPass,
                    'newNum': newNumber
                };
                $.ajax({
                    type: "POST",
                    url: "/User/changeNumber",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            SuccessMessage("Your Number Successfully changed.");
                            setTimeout(function () {
                                location.reload();
                            }, 1200);
                        } else {
                            ErrorMessage(response.Message);
                        }
                    },
                    failure: function (response) {
                        ErrorMessage(response.responseText);
                    },
                    error: function (response) {
                        ErrorMessage(response.responseText);
                    }
                });
            } else {
                ErrorMessage(errors[0]);
            }
        });

        $('#userP-edit-email').click(function () {
            $('.modal-change-email-Form').modal('show');
        });
        $('#submit-change-email').click(function () {
            let idNumber = $(this).data('idnumber');
            let myPass = $('#myPassword').val();
            let newEmail = $('#newEmail').val();
            var EmailPattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;

            let errors = [];

            if (newEmail == "" || !newEmail) {
                errors.push('New Email is required.');
            }
            if (myPass == "" || !myPass) {
                errors.push('Your Password is required.');
            }
            if (!EmailPattern.test(newEmail)) { errors.push("Invalid Email."); }

            if (errors.length == 0) {
                var data = {
                    'idnum': idNumber,
                    'myP': myPass,
                    'newE': newEmail
                };
                $.ajax({
                    type: "POST",
                    url: "/User/changeEmail",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            SuccessMessage("Your Email Successfully changed.");
                            setTimeout(function () {
                                location.reload();
                            }, 1200);
                        } else {
                            ErrorMessage(response.Message);
                        }
                    },
                    failure: function (response) {
                        ErrorMessage(response.responseText);
                    },
                    error: function (response) {
                        ErrorMessage(response.responseText);
                    }
                });
            } else {
                ErrorMessage(errors[0]);
            }
        });
        $('#userP-edit-password').click(function () {
            $('.modal-change-password-Form').modal('show');
        });
        $('#submit-change-password').click(function () {
            let idNumber = $(this).data('idnumber');
            let oldPass = $('#oldPassword').val();
            let newPass = $('#newPassword').val();
            let confirmPass = $('#confirmPassword').val();
            var PasswordPattern = /^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@@#$%&]).*$/;
            let errors = [];

            if (oldPass == "" || !oldPass) {
                errors.push('Old Password is required.');
            }
            if (newPass == "" || !newPass) {
                errors.push('New Password is required.');
            }
            if (!PasswordPattern.test(newPass)) { errors.push("Enter minimum 8 chars with atleast 1 number, lower, upper & special(@@#$%&) char."); }
            if (confirmPass != newPass) {
                errors.push('Password is not matched.');
            }

            if (errors.length == 0) {
                var data = {
                    'idnum': idNumber,
                    'oldP': oldPass,
                    'newP': newPass,
                    'conP': confirmPass
                };
                $.ajax({
                    type: "POST",
                    url: "/User/changePassword",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.Message == "success") {
                            SuccessMessage("Your Password Successfully changed.You can use it in your next login.");
                            setTimeout(function () {
                                location.reload();
                            }, 1200);
                        } else {
                            ErrorMessage(response.Message);
                        }
                    },
                    failure: function (response) {
                        ErrorMessage(response.responseText);
                    },
                    error: function (response) {
                        ErrorMessage(response.responseText);
                    }
                });
            } else {
                ErrorMessage(errors[0]);
            }
        });

        //=========== (START) function for show Success message ===========||
        function SuccessMessage(message) {
            notify("top", "center", "fa fa-check", "success", "animated bounceIn", "animated bounceOut", " " + message);
        }
        //=========== (END) function for show Success message ===========||

        //=========== (START) function for show Info message ===========||
        function InfoMessage(message) {
            notify("top", "center", "fa fa-info", "info", "animated bounceIn", "animated bounceOut", " " + message);
        }
        //=========== (END) function for show Info message ===========||

        //=========== (START) function for show Erorr message ===========||
        function ErrorMessage(message) {
            notify("top", "center", "fa fa-times", "danger", "animated bounceIn", "animated bounceOut", " " + message);
        }
        //=========== (END) function for show Erorr message ===========||

        //=========== (START) function to display Message ===========||
        function notify(from, align, icon, type, animIn, animOut, mess) {
            $.growl({
                icon: icon,
                title: '',
                message: mess,
                url: ''
            }, {
                    element: 'body',
                    type: type,
                    allow_dismiss: true,
                    placement: {
                        from: from,
                        align: align
                    },
                    offset: { x: 30, y: 30 },
                    spacing: 10,
                    z_index: 999999,
                    delay: 2500,
                    timer: 1000,
                    url_target: '_blank',
                    mouse_over: false,
                    animate: {
                        enter: animIn,
                        exit: animOut
                    },
                    icon_type: 'class',
                    template: '<div data-growl="container" class="alert" role="alert">' +
                        '<button type="button" class="close" data-growl="dismiss">' +
                        '<span aria-hidden="true">&times;</span>' +
                        '<span class="sr-only">Close</span>' +
                        '</button>' +
                        '<span data-growl="icon"></span>' +
                        '<span data-growl="title"></span>' +
                        '<span data-growl="message"></span>' +
                        '<a href="#!" data-growl="url"></a>' +
                        '</div>'
                });
        };
                                //=========== (END) function to display Message ===========||
    </script>
}

