@using System.Collections.Generic;
@model IEnumerable<DCISM_WBRMSystem.Models.borrowed_items_vw>
<link href="@Context.Server.MapPath("~/Content/assets/css/style.css")" rel="stylesheet" />
<link href="@Context.Server.MapPath("~/Content/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
<STYLE TYPE="text/css">
    .breakhere {
        page-break-after: always
    }
</STYLE>
@{
    var table_counter = 0;
    var counter = 0;
    var excess = 0;
    if (Model.Count() > 21)
    {
        table_counter = Model.Count() / 21;
        excess = Model.Count() - (21 * table_counter);
    }
    else
    {
        table_counter = 1;
    }
}

@for (var i = 0; i < table_counter; i++)
{
    <center><h5>Department of Computer Information Sciences and Mathematics</h5></center>
    <center><h5>Web-Based Resource Management System</h5></center>
    <center><h6>with SMS Notification</h6></center>
    <center><img src="@Context.Server.MapPath("/Content/assets/images/circle-sancarlos-transparent.png")" height="50" /><img src="@Context.Server.MapPath("/Content/assets/images/circle-dcis-transparent.png")" height="50" /></center>
    <br />
    <br />
    <p>List of Borrowed Items</p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Brand/Model</th>
                    <th>Serial Number</th>
                    <th>Barcode</th>
                    <th>Room Number</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>

                @if (Model.Count() > 0)
                {

                    for (var e = 0; e < 21; e++)
                    {

                        <tr>
                            <th scope="row">@Model.ElementAt(counter).Item_Name</th>
                            <td>@Model.ElementAt(counter).Brand_Model</td>
                            <td>@Model.ElementAt(counter).Serial_Number</td>
                            <td>@Model.ElementAt(counter).Str_Code</td>
                            <td>@Model.ElementAt(counter).Room_No</td>
                            <td>@Model.ElementAt(counter).Status</td>
                        </tr>
                        counter++;
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
}

@if (excess > 0)
{
    <center><h5>Department of Computer Information Sciences and Mathematics</h5></center>
    <center><h5>Web-Based Resource Management System</h5></center>
    <center><h6>with SMS Notification</h6></center>
    <center><img src="@Context.Server.MapPath("/Content/assets/images/circle-sancarlos-transparent.png")" height="50" /><img src="@Context.Server.MapPath("/Content/assets/images/circle-dcis-transparent.png")" height="50" /></center>
    <br />
    <br />
    <p>List of Borrowed Items</p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Brand/Model</th>
                    <th>Serial Number</th>
                    <th>Barcode</th>
                    <th>Room Number</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>

                @for (; counter < Model.Count();)
                {

                    <tr>
                        <th scope="row">@Model.ElementAt(counter).Item_Name</th>
                        <td>@Model.ElementAt(counter).Brand_Model</td>
                        <td>@Model.ElementAt(counter).Serial_Number</td>
                        <td>@Model.ElementAt(counter).Str_Code</td>
                        <td>@Model.ElementAt(counter).Room_No</td>
                        <td>@Model.ElementAt(counter).Status</td>
                    </tr>
                    counter++;
                }

            </tbody>
        </table>
    </div>
}

