@using DCISM_WBRMSystem.Models.CustomModels
<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
        <a href="@Url.Action("Index","Home")" class="b-brand">
            <div class="b-bg">
                <img class="" src="~/Content/assets/images/barcode_icon4.gif" width="50" height="35">
            </div>
            <span class="b-title">DCISM Web-Based Resource Management System</span>
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="javascript:">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
            <li class="nav-item">
                <div class="main-search">
                    <div class="input-group">
                        <input type="text" id="m-search" class="form-control" placeholder="Search . . .">
                        <a href="javascript:" class="input-group-append search-close">
                            <i class="feather icon-x input-group-text"></i>
                        </a>
                        <span class="input-group-append search-btn btn btn-primary">
                            <i class="feather icon-search input-group-text"></i>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <div class="dropdown">
                    @if (Session["UserTitleRole"] != null)
                    {
                        if (Session["UserTitleRole"].ToString() == "Administrator")
                        {
                            <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i><span class="badge-notification headerBadgeColor1" id="Notify-Number"> </span></a>
                            <div class="dropdown-menu dropdown-menu-right notification">
                                <div class="noti-head">
                                    <h6 class="d-inline-block m-b-0">Notifications</h6>

                                </div>
                                <ul class="noti-body" id="notify-admin"></ul>
                            </div>

                        }
                        else if (Session["UserTitleRole"].ToString() == "Chairperson")
                        {
                            <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i><span class="badge-notification headerBadgeColor1" id="Notify-Number"> </span></a>
                            <div class="dropdown-menu dropdown-menu-right notification">
                                <div class="noti-head">
                                    <h6 class="d-inline-block m-b-0">Notifications</h6>

                                </div>
                                <ul class="noti-body" id="notify-chairperson"></ul>
                            </div>
                        }
                        else
                        {
                            <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i><span class="badge-notification headerBadgeColor1" id="Notify-Number"> </span></a>
                            <div class="dropdown-menu dropdown-menu-right notification">
                                <div class="noti-head">
                                    <h6 class="d-inline-block m-b-0">Notifications</h6>

                                </div>
                                <ul class="noti-body" id="notify-user"></ul>
                            </div>
                        }
                    }

                </div>
            </li>
            <li>
                <div class="dropdown drp-user">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown">
                        <span>@(Session["Username"] != null ? Session["Username"].ToString() : "")</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-notification">
                        <div class="pro-head">
                            <img src="~/Content/assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
                            @{ 
                                PasswordSecurity ps = new PasswordSecurity();
                            }
                            <span>@(Session["Username"] != null ? Session["Username"].ToString() : "")</span>
                            @*<a href="@Url.Action("Logout","Account")" class="dud-logout" title="Logout">
                                    <i class="feather icon-log-out"></i>
                                </a>*@
                        </div>
                        <ul class="pro-body">
                            @*<li><a href="javascript:" class="dropdown-item"><i class="feather icon-settings"></i> Settings</a></li>*@
                            <li><a href="@Url.Action("UserProfile","User",new {IDNumber=Session["IDNumber"]!=null?ps.Encryptdata(Session["IDNumber"].ToString()):"" })" class="dropdown-item"><i class="feather icon-user"></i>Profile</a></li>
                            @*<li><a href="message.html" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>*@
                            <li><a href="@Url.Action("Logout","Account")" class="dropdown-item"><i class="feather icon-log-out"></i>Log out</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>
