@using WebHelpers.Mvc5


@if (Session["Username"] != null && Session["UserRole"] != null && Session["UserTitleRole"] != null)
{
    if (Session["UserTitleRole"].ToString() == "Administrator")
    {
        <nav class="pcoded-navbar">
            <div class="navbar-wrapper">
                <div class="navbar-brand header-logo">
                    <a href="@Url.Action("Index","Home")" class="b-brand">
                        <div class="b-bg">
                            <img class="" src="~/Content/assets/images/barcode_icon4.gif" width="50" height="35">
                        </div>
                        <span class="b-title">DCISM-WBRMS</span>
                    </a>
                    <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
                </div>
                <div class="navbar-content scroll-div">
                    <ul class="nav pcoded-inner-navbar">
                        <li class="nav-item pcoded-menu-caption">
                            <label>Menus</label>
                        </li>
                        <li data-username="" class="nav-item @Url.IsLinkActive("Index", "Home")">
                            <a href="@Url.Action("Index","Home")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                        </li>

                        <li class="nav-item pcoded-hasmenu  @Url.IsLinkActive("Index", "Items") @Url.IsLinkActive("Rooms", "Facility") @(Url.IsLinkActive("Index","Items")=="active"||Url.IsLinkActive("Rooms","Facility")=="active"?"pcoded-trigger":"")">
                            <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="fas fa-database"></i></span><span class="pcoded-mtext">Resources</span></a>
                            <ul class="pcoded-submenu" style="@(Url.IsLinkActive("Index","Items")=="active"||Url.IsLinkActive("Rooms","Facility")=="active"?"display:block":"")">
                                <li class="@Url.IsLinkActive("Index", "Items")"><a href="@Url.Action("Index","Items")" class=""><i class="fa fa-cube"></i> Items/Equipments</a></li>
                                <li class="@Url.IsLinkActive("Rooms", "Facility")"><a href="@Url.Action("Rooms","Facility")" class=""><i class="fas fa-store-alt"></i> Rooms/Facilities</a></li>
                            </ul>
                        </li>
                        <li data-username="" class="nav-item pcoded-hasmenu @Url.IsLinkActive("Index", "Borrowing") @Url.IsLinkActive("Index", "Reservation") @(Url.IsLinkActive("Index","Borrowing")=="active"||Url.IsLinkActive("Index","Reservation")=="active"?"pcoded-trigger":"")">
                            <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="fa fa-history"></i></span><span class="pcoded-mtext">Transaction</span></a>
                            <ul class="pcoded-submenu" style=" @(Url.IsLinkActive("Index","Borrowing")=="active"||Url.IsLinkActive("Index","Reservaion")=="active"?"display:block":"")">
                                <li class="@Url.IsLinkActive("Index", "Borrowing")"><a href="@Url.Action("Index","Borrowing")" class=""><i class="fa fa-shopping-cart"></i> Borrow</a></li>
                                <li class="@Url.IsLinkActive("Index", "Reservation")"><a href="@Url.Action("Index","Reservation")" class=""><i class="fab fa-stack-exchange"></i> Reserve</a></li>

                            </ul>
                        </li>
                        <li data-username="" class="nav-item @Url.IsLinkActive("Reports", "Report")">
                            <a href="@Url.Action("Reports","Report")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Report</span></a>
                        </li>
                        <li data-username="" class="nav-item @Url.IsLinkActive("Index", "User")">
                            <a href="@Url.Action("Index","User")" class="nav-link "><span class="pcoded-micon"><i class="fa fa-users"></i></span><span class="pcoded-mtext">User</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else if (Session["UserTitleRole"].ToString() == "Chairperson")
    {
        <nav class="pcoded-navbar">
            <div class="navbar-wrapper">
                <div class="navbar-brand header-logo">
                    <a href="@Url.Action("Index","Home")" class="b-brand">
                        <div class="b-bg">
                            <img class="" src="~/Content/assets/images/barcode_icon4.gif" width="50" height="35">
                        </div>
                        <span class="b-title">DCISM-WBRMS</span>
                    </a>
                    <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
                </div>
                <div class="navbar-content scroll-div">
                    <ul class="nav pcoded-inner-navbar">
                        <li class="nav-item pcoded-menu-caption">
                            <label>Menus</label>
                        </li>
                        <li data-username="" class="nav-item @Url.IsLinkActive("Index", "Home")">
                            <a href="@Url.Action("Index","Home")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                        </li>
                        <li data-username="" class="nav-item @Url.IsLinkActive("Index", "Reservation")">
                            <a href="@Url.Action("Index","Reservation")" class="nav-link "><span class="pcoded-micon"><i class="fab fa-stack-exchange"></i></span><span class="pcoded-mtext">Rerservation Request</span></a>
                        </li>
                        <li data-username="e" class="nav-item @Url.IsLinkActive("Index", "User")">
                            <a href="@Url.Action("Index","User")" class="nav-link "><span class="pcoded-micon"><i class="fa fa-users"></i></span><span class="pcoded-mtext">User</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="pcoded-navbar">
            <div class="navbar-wrapper">
                <div class="navbar-brand header-logo">
                    <a href="@Url.Action("Index","Home")" class="b-brand">
                        <div class="b-bg">
                            <img class="" src="~/Content/assets/images/barcode_icon4.gif" width="50" height="35">
                        </div>
                        <span class="b-title">DCISM-WBRMS</span>
                    </a>
                    <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
                </div>
                <div class="navbar-content scroll-div">
                    <ul class="nav pcoded-inner-navbar">
                        <li class="nav-item pcoded-menu-caption">
                            <label>Menus</label>
                        </li>
                        <li data-username="" class="nav-item @Url.IsLinkActive("Index", "Home")">
                            <a href="@Url.Action("Index","Home")" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                        </li>
                        <li data-username="" class="nav-item pcoded-hasmenu @Url.IsLinkActive("Index", "Borrowing") @Url.IsLinkActive("Index", "Reservation") @(Url.IsLinkActive("Index","Borrowing")=="active"||Url.IsLinkActive("Index","Reservation")=="active"?"pcoded-trigger":"")">
                            <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="fa fa-history"></i></span><span class="pcoded-mtext">Transaction</span></a>
                            <ul class="pcoded-submenu" style=" @(Url.IsLinkActive("Index","Borrowing")=="active"||Url.IsLinkActive("Index","Reservation")=="active"?"display:block":"")">
                                <li class="@Url.IsLinkActive("Index", "Borrowing")"><a href="@Url.Action("Index","Borrowing")" class=""><i class="fa fa-shopping-cart"></i> Borrow</a></li>
                                <li class="@Url.IsLinkActive("Index", "Reservation")"><a href="@Url.Action("Index","Reservation")" class=""><i class="fab fa-stack-exchange"></i> Reserve</a></li>

                            </ul>
                        </li>
                        <li data-username="" class="nav-item @Url.IsLinkActive("Index", "History")">
                            <a href="@Url.Action("Index","History")" class="nav-link "><span class="pcoded-micon"><i class="fa fa-history"></i></span><span class="pcoded-mtext">History</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }

}
else
{
    Response.Redirect("/Account/Login");
}

